/*
    h1
*/
h1 {
    text-align: center;
    padding-top: 1.5rem;
}

h1 span {
    color: #ef476f;
}



/*
    Intro
*/
#about-intro {
    width: 80%;
    margin: 0 auto;
}



/*
    Skills
*/
#skills-content {
    text-align: center;
}

.icons {
    display: block;
    width: 100%;
    color: #ef476f;
    font-size: 3rem;
    text-align: center;
}

.skills-title h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ef476f;
}

.skills-list {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #adb5bd;
}


/*
    Education
*/
#about-education {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#about-education p {
    margin: 0;
}

.univ {
    color: #ef476f;
    font-weight: bold;
}



/*
    footer
*/
#about-footer {
    margin-bottom: 0; 
    margin-top: 3rem;
    text-align: center;
    font-weight: lighter; 
    font-size: smaller; 
}

#about-footer span{
    color: #ef476f;
    font-weight: bold;
}
